.container {
    width: 100vw;
    max-width:100%;
    margin-top: 100px;
    z-index: 0;
}

.forgot-password-container {
    display: flex;
    width: 90vw;
    height: auto;
    justify-content: space-around;
}

.forgot-password-image {
    width: 60%;
    height: 400px;
}

.forgot-password-title {
    font-size: 28px;
    font-weight: 400;
}

.forgot-password-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #b3b3b3;
    font-weight: lighter;
    padding: 10px 0 20px;
    max-width: 100%;
}

.forgot-password-input {
    width: 500px;
    margin-top: 20px;
}

.forgot-password-submit {
    width: 100%;
    margin-top: 40px;
    padding: 20px 10px;
    background-color: #6c63ff;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.forgot-password-submit:hover {
    background-color: #483dff;
    cursor: pointer;
}

.register-message {
    margin-top: 10px;
    cursor: pointer;
}

.register-message span {
    color: blue;
}

.error-message .success-message {
    font-size: 16px;
    font-weight: 400;
    color: red;
    font-weight: 500;
}

.success-message {
    color: green;
}

@media screen and (max-width: 1000px) {

    .forgot-password-container {
        display: block;
        width: 70vw;
        margin: 0 auto 30px;
    }

    .forgot-password-image {
        width: 100%;
        margin: 0 auto;
    }

    .forgot-password-input {
        width: 100%;
    }

}

@media screen and (max-width: 550px) {
    .forgot-password-container {
        width: 90vw;
        margin-bottom: 50px;
    }

    .container {
        margin-top: 20px;
    }

}
