.claim-restaurant-container {
    width: 50%;
    margin: 0 auto 40px;
}

.claim-restaurant-spacing {
    margin-top: 40px;
}

.claim-restaurant-title {
    font-size: 25px;
}

.claim-restaurant-upload-title {
    font-size: 25px;
}

.upload-document-container {
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    border: 1px dashed black;
    margin-top: 40px;
}

.claim-restaurant-message {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.additional-message {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

.message-green { color: green; }
.message-red { color: red; }

.claim-restaurant-submit {
    display: block;
    width: 30%;
    margin: 60px auto 0;
    padding: 20px 10px;
    background-color: #6c63ff;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.claim-restaurant-submit:hover {
    background-color: #483dff;
    cursor: pointer;
}

.claim-restaurant-full-div {
    width: 85%;
    margin:15px 0 0 15px;
}

@media screen and (max-width: 880px) {
    .claim-restaurant-container {
        width: 90%;
    }

    .claim-restaurant-message {
        font-size: 18px;
    }
}