.restaurant-plan {
    width: 60vw;
    margin: 0 auto 30px;
}

.restaurant-plan-image-container {
    display: flex;
    justify-content: center;
    margin: 30px 0 0;
}

.restaurant-plan-image {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .restaurant-plan {
        width: 80vw;
        margin: 0 auto 30px;
    }

    .restaurant-plan-image {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 770px) {
    .restaurant-plan {
        width: 90vw;
        max-width: 100%;
        margin: 0 auto 30px;
    }
}

@media screen and (max-width: 500px) {
    .restaurant-plan-image-container {
        height: 400px;
        margin: 0;
    }
}
