.navbar {
    display: flex;
    line-height: 22px;
}

.navbar-li {
    list-style: none;
    margin-right: 20px;
    cursor: text;
}

.navbar-li-link {
    color: white;
}

.navbar-li-link:hover {
    color: #CFB495;
}

.link-focused {
    font-size: 22px;
    color: #CFB495;
    font-weight: bold;
}

@media screen and (max-width: 880px) {
    .navbar {
        justify-content: center;
    }
}

@media screen and (max-width: 750px) {
    .navbar {
        display: block;
        text-align: center;
    }

    .navbar-li {
        margin: 0 0 20px 0;
    }
}
